header{
    background-color: wheat;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#first-title{
    text-align: center;
    margin: 40px 40px;
    font-size: 30px;
}
.core{
    text-align: center;
    font-size: 30px;
}
#tombol{
    border: 3px solid black;
    font-size: 25px;
    padding: 10px 30px;
    width: auto;
    background-color: gainsboro;
}
input{
    width: 40%;
    height: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: gainsboro;
    resize: none;
    margin: 10px;
    font-size: 20px;
}
#tombol:hover {
    cursor: pointer;
    background: whitesmoke;
}