{% extends 'layout.html' %}

{% block title %} Brick Project | Project Website {% endblock %}
{% block link %} 
<link rel="stylesheet" href="/static/CSS/Brick.css"> 
{% endblock %}
{% set Session = Sessioncheck %}
{% block body %}
    <header>
        <h1>Brick Games</h1>
    </header>

    <span id="buttonAppear"></span>

    <div style="text-align:center;">
        <canvas id="canvas" width="1000" height="600"></canvas>
    </div>
    <script src="/static/Js/Brick.js"></script>
{% endblock %}