{% extends 'layout.html' %}
{% block title %} Verification {% endblock %}

{% block link %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/CSS/Verification.css">
{% endblock %}

{% block body %}
<div id="Verification">
    <div class="container">
        <div id="Verification-row" class="row justify-content-center align-items-center">
            <div id="Verification-column" class="col-md-6">
                <div id="Verification-box" class="col-md-12">
                    <form action = "/verification" id="Verification-form" class="form" method="POST">
                        <h2 class="text-center">Verification Code Has Been Sent to Your Email</h2>
                        <h2 class="text-center">{{info}}</h2>
                        <div class="form-group">
                            <label for="Verification" >Verification:</label><br>
                            <input type="text" name="Verification" id="Verification" class="form-control" placeholder="Enter Verification">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-secondary btn-md" value="submit">
                        </div>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}